<!DOCTYPE html>
{% extends 'navbar.html' %}
{% block content %}

<script>

  async function getWaitedData(elapsed_time) {

    let response = await fetch('/slow_call/'.concat(elapsed_time.toString()))
    // return new Promise(resolve => setTimeout(response.text(), 2000, 'my content'))
    // loader.innerHTML='Finished loading'
    return await response.text()
  }
  async function getDataFromAPI(endpoint_url, div_id) {
    loader = document.querySelector(div_id)
    let response = await fetch(endpoint_url) 
    let graph_html = await response.text()
    // loader.innerHTML = 'Done loading'
    return graph_html.slice(6,-7)
  }
  // const loader = document.querySelector('#loader')
  // const graph_1 = document.querySelector('#graph_1')
  // graph_1.innerHTML = ''
  // loader.style.display = 'block'
  // const nextContent = await getWaitedData()
  // loader.style.display = 'none'
  // graph_1.innerHTML = nextContent


</script>
<div class="section">
  <div class="columns">
    <div class="column is-half">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th><abbr title="Id">Id</abbr></th>
            <th><abbr title="Text">Text</abbr></th>
            <th><abbr title="Category">Category</abbr></th>
            <th><abbr title="Sentiment">Sentiment</abbr></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><abbr title="Id">Id</abbr></th>
            <th><abbr title="Text">Text</abbr></th>
            <th><abbr title="Category">Category</abbr></th>
            <th><abbr title="Sentiment">Sentiment</abbr></th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th>Example</th>
            <td>
              This is somewhat cool
            </td>
            <td>
              <button class="button is-green is-light">Electronic</button>
            </td>
            <td>
              <button class="button is-warning is-light">Neutral</button>
            </td>
          </tr>
          <tr>
            <th>Example</th>
            <td>
              This is not ok!!
            <td>
              <button class="button is-green is-light">Electronic</button>
            </td>
            <td>
              <button class="button is-danger is-light">Negative</button>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <th>Example</th>
            <td>
              This is too bad!!
            <td>
              <button class="button is-green is-light">Electronic</button>
            </td>
            <td>
              <button class="button is-success is-light">Positive</button>
            </td>
          </tr>
          {% for idx, text in idx_text_list %}
          <tr>
            <th>{{ idx }}</th>
            <td>
              {{ text }}
            <td>
              <button class="button is-green is-light">Electronic</button>
            </td>
            <td>
              <button class="button is-success is-light">Positive</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="column">
      <div class="columns is-multiline">
        <div class="column is-half">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Samples by topic
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <!-- <progress id="loader" class="progress is-small is-primary" max="100">15%</progress> -->
                <span id="graph_1" x-data="hey" x-text="await getWaitedData(1)"></span>
                <div id="graph_1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Sentiment by topic
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <span x-data x-text="await getWaitedData(3)"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Sentiment over time
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <span x-data x-text="await getWaitedData(5)"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Keyword Cloud
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <div id="wc_graph">Loading...</div>
                <span x-data x-text="await getWaitedData(1)"></span>
                <iframe>

                <div x-data x-text="await getDataFromAPI('/visualization/word_cloud','wc_graph')">
                </iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-fullwidth">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Samples by sentiment by week
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <span x-data x-text="await getWaitedData(3)"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <!-- Import data   -->
    <h2 class="title is-2">Import data</h2>
    <form action="" method="post">
      <textarea name="textarea" class="textarea" placeholder="10 lines of textarea" rows="10"></textarea>
      <br> <button class="button is-black type=" submit" value="Submit">Submit</button>
    </form>

  </div>
</div>
</div>
{% endblock %}

</html>